body{
    background-color: #a7e8fd;
    font-family: Verdana, Helvetica, Arial, sans;
}

h1 {
    color: rgb(250, 114, 132);
    font-size: 3em;
}

p.red {
    color:red;
}

a:hover{
    color: dimgray;
}
a:active{
    color:black;
}
a:visited{
    color:turquoise;
}
