.HeaderTitle {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    margin: 3em 3em 1em;
}

#navBar{
    margin: 0em 3em 1em;
}
#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color : #73AD21;
}

#navBar li{
    float: left;
}

#navBar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar a:hover{
    background-color: brown;
}

.active {
    background-color: black;
}

body{
    background-color : rgb(255, 255, 255);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#viewTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 71.5%;
    float:left;
    margin-left: 2em;
    margin-right: 3em; 
}

#viewTable td, #viewTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

#viewTable tr:hover {
    background-color: #ddd;
}

#viewTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.vertical-menu {
    width: 20%; /* Set a width if you like */
    float:left;
    margin-left: 3em;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}

.tabcontent {
    color: white;
    display: inline-block;
    padding: 50px;
    text-align: center;
}