body{
    background-color : rgb(255, 255, 255);
}
#Title {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    margin: 3em 3em 1em;
}

#navBar{
    margin: 0em 3em 1em;
}

#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color : #73AD21;
}

#navBar li{
    float: left;
}

#navBar #panel {
    float: right;
}

#navBar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar a:hover{
    background-color: brown;
}
#filterForm{
    float: left;
    margin: 3em 3em 1em;
    display: inline-block;
}
.active {
    background-color: black;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}
.submitButton{
	padding: 15px 60px;
	display: inline-block;
	border: none;
	margin: 20px 0;
    background-color: #2fcc71;
    font-weight: bold;
	color: #fff;
	font-size: 16px;
}

.submitButton:hover{
    background-color: #363b38;
}

#wheaterTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 77%;
    float: right;
    margin-left: 2em;
    margin-right: 3em; 
}

#wheaterTable td, #viewTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

#wheaterTable tr:hover {
    background-color: #ddd;
}

#wheaterTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#footer{
    float: left;
    background-color: cornflowerblue;
    color: white;
    width: 92.1%;
    padding: 10px;
    margin: 3em 3em 1em; 
}
#photoGallery{
    margin: 3em 3em 1em;
    float: left;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

#Photo{
    float:left;
    margin: 0em 3em 1em;
}

#ContactForm{
    float:right;
    border-radius: 5px;
    margin: 0em 3em 1em;
}
#ContactForm input[type=text],  textarea{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#ContactForm input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#PanelForm{
    margin: 0em 10em 1em 10em;
}

#PanelForm ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color : #73AD21;
}

#PanelForm li{
    padding: 1em;
    border: white;
    border-width: thick;
    
}

#PanelForm a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#PanelForm a:hover{
    background-color: brown;
}